* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #888;
}
#data {
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}
#relogio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    color: #0f0;
    background-color: #444;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
input[type="number"]{
    border: 1px solid #000;
    font-size: larger;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}
button {
    background-color: #aaa;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.alarme {
    background-color: #f00 !important;
}